:root {
    --main-color: rgb(33, 170, 95);
    --accent-color: rgb(23, 122, 68);
    --background-color: rgb(161, 237, 179);
    --padding: 1.5rem;
    --hidden: rgba(1, 1, 1, 0);
}
body {
    font-family: sans-serif;
    background: var(--background-color);
}
h1 {
  text-align: center;
  font-size: 3.5rem;
  padding: var(--padding);
  background-color: var(--main-color);
  border: 1.5rem solid var(--accent-color);
  margin-top: 4rem;
  
}
.tool-bar-background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(46, 46, 46);
    width: 100%;
    font-size: 3rem;
    color: var(--hidden);
    z-index: 3;
}
.home-button {
    position: fixed;
    top: 4px;
    padding: var(--paddings);
    z-index: 4;
}

.aboutus-button {
    position: fixed;
    top: 4px;
    padding: var(--paddings);
    left: 75px;
    z-index: 4;
}/*
.btn:hover {
    animation-name: enlarge;
    animation-duration: 0.5s;
}*/
@keyframes enlarge{
    to {
        transform: scale(1.25);
    }
}
.bannerbox {
    background-color: var(--accent-color);
    width: 25rem;
    border-radius: 1.15rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
    width: auto;
    font-size: 2rem;
    padding-left: 2rem;
    font-weight: bolder;
}
.bannerboxtext {
    position: absolute;
    top: 7rem;
    padding-left: 2rem;
    z-index: 2;
}
.bannerline {
    position: absolute;
    top: 9rem;
    left: 2.5rem; 
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.274);
    font-size: 0.2rem;
    color: var(--hidden);
}
/*.opt {
    display: grid;
    grid-template-columns: 265.39px minmax(580px, 80%);
    grid-template-rows: repeat(4, 2rem 8rem 0.5rem) 
}*/
.opt {
    margin-left: 2rem;
}
.opt1img {
    float: left;
    height: 11rem;
    width: 19rem;
    border-radius: 1.5rem;
}
.opth {
    font-weight: 900;
    font-size: 1.7rem;
    margin-left: 20rem;
}
.opt1txt {
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: -1rem;
}
.opttxtchld {
    margin-top: 0;
    margin-left: 20rem;
}
.opt2img {
    float: left;
    height: 11rem;
    width: 19rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
}
.opt2txt {
    margin-top: -1rem;
    margin-left: 1rem;
}
.opt2h {
    margin-top: 3rem;
}
.displayimg {
    width: 20rem;
    height: 14rem;
    border-radius: 1.5rem;
    float: left;
}
.displaytxt {
    margin-left: 22rem;
    padding-top: 1rem;
}